.Header {
    background-color: rgb(91, 91, 246);
    height: 5vh;
}

/* .logo, .right-side, .search, .profile{
    height: 100%;
}

a {
    height: 100%
}

img {
    height: 5vh
}

.logo > img {
    height: 100%;
}

.search > img {
    height: 100%;
}

.profile > img {
    height: 100%;
} */






